<footer class="footer">
  <div class="footer-container">
    <!-- Logo section -->
    <div class="logo-container">
      <a class="logo-link" href="/">
        <svg class="logo-icon" width="84" height="34">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <!-- Newsletter section -->
    <p class="newsletter-description">
      Subscribe to our newsletter for the latest updates on our yoga clases and
      events.
    </p>
    <div class="subscribe-container">
      <form class="subscribe-form">
        <label class="subscribe-label">
          <input
            type="email"
            name="email"
            placeholder="Placeholder"
            class="subscribe-input"
            required
          />
        </label>
        <button type="submit" class="subscribe-button">Join</button>
      </form>
      <p class="input-description">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>

    <div class="links-container">
      <!-- Quick Links-->
      <section class="footer-links-section">
        <h3 class="footer-title">Quick Links</h3>
        <ul class="footer-list">
          <li class="list-item">
            <a href="#">Yoga Classes</a>
          </li>
          <li class="list-item">
            <a href="#">Team</a>
          </li>
          <li class="list-item">
            <a href="#">Pricing</a>
          </li>
          <li class="list-item">
            <a href="#">Contacts</a>
          </li>
        </ul>
      </section>

      <!-- Social media -->
      <section class="footer-links-section">
        <h3 class="footer-title">Connect With Us</h3>
        <ul class="footer-list">
          <li class="list-item">
            <a class="social-link" href="#" aria-label="Facebook">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
            <p>Facebook</p>
          </li>
          <li class="list-item">
            <a class="social-link" href="#" aria-label="Instagram">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-Instagram"></use>
              </svg>
            </a>
            <p>Instagram</p>
          </li>
          <li class="list-item">
            <a class="social-link" href="#" aria-label="LinkedIn">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
            <p>LinkedIn</p>
          </li>
          <li class="list-item">
            <a class="social-link" href="#" aria-label="YouTube">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
            <p>YouTube</p>
          </li>
        </ul>
      </section>
    </div>
    <p class="copyright">© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
