<section id="gallery" class="gallery">
  <div class="container gallery-cont">
    <div class="gallery-block">
      <h2 class="gallery-title">Breathe in the Space</h2>
      <p class="gallery-text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-1-min.png    1x,
              /img/desktop-png/gallery/image-1@2x-min.png 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-1-tb-min.png    1x,
              /img/tablet-png/gallery/image-1-tb@2x-min.png 2x
            " />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-1-mb-min.png    1x,
              /img/mobile-png/gallery/image-1-mb@2x-min.png 2x
            " />
          <img
            src="/img/desktop-png/gallery/image-1-min.png"
            alt="Group yoga class in studio"
            width="421"
            loading="lazy"
        /></picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-2-min.png    1x,
              /img/desktop-png/gallery/image-2@2x-min.png 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-2-tb-min.png    1x,
              /img/tablet-png/gallery/image-2-tb@2x-min.png 2x
            " />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-2-mb-min.png    1x,
              /img/mobile-png/gallery/image-2-mb@2x-min.png 2x
            " />
          <img
            src="/img/desktop-png/gallery/image-2-min.png"
            alt="Woman meditating in lotus pose during class"
            width="421"
            loading="lazy"
        /></picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-3-min.png    1x,
              /img/desktop-png/gallery/image-3@2x-min.png 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-3-tb-min.png    1x,
              /img/tablet-png/gallery/image-3-tb@2x-min.png 2x
            "
          />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-3-mb-min.png    1x,
              /img/mobile-png/gallery/image-3-mb@2x-min.png 2x
            "
          />
          <img
            src="/img/desktop-png/gallery/image-3-min.png"
            alt="Yoga studio with mats and natural light"
            width="421"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-4-min.png    1x,
              /img/desktop-png/gallery/image-4@2x-min.png 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-4-tb-min.png    1x,
              /img/tablet-png/gallery/image-4-tb@2x-min.png 2x
            " />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-4-mb-min.png    1x,
              /img/mobile-png/gallery/image-4-mb@2x-min.png 2x
            " />
          <img
            src="/img/desktop-png/gallery/image-4-min.png"
            alt="Peaceful yoga room with plant by the window"
            width="421"
            loading="lazy"
        /></picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-5-min.png    1x,
              /img/desktop-png/gallery/image-5@2x-min.png 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-5-tb-min.png    1x,
              /img/tablet-png/gallery/image-5-tb@2x-min.png 2x
            " />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-5-mb-min.png    1x,
              /img/mobile-png/gallery/image-5-mb@2x-min.png 2x
            " />
          <img
            src="/img/desktop-png/gallery/image-5-min.png"
            alt="Meditating woman during group yoga session"
            width="421"
            loading="lazy"
        /></picture>
      </li>
      <li class="gallery-item">
        <picture
          ><source
            media="(min-width:1336px)"
            srcset="
              /img/desktop-png/gallery/image-6-min.png    1x,
              /img/desktop-png/gallery/image-6@2x-min.png 2x
            " />
          <source
            media="(min-width:768px)"
            srcset="
              /img/tablet-png/gallery/image-6-tb-min.png    1x,
              /img/tablet-png/gallery/image-6-tb@2x-min.png 2x
            " />
          <source
            media="(min-width:375px)"
            srcset="
              /img/mobile-png/gallery/image-6-mb-min.png    1x,
              /img/mobile-png/gallery/image-6-mb@2x-min.png 2x
            " />
          <img
            src="/img/desktop-png/gallery/image-6-min.png"
            alt="Yoga instructor leading session in lotus pose"
            width="421"
            loading="lazy"
        /></picture>
      </li>
    </ul>
  </div>
</section>
