<header class="header">
  <ul class="header-list">
    <li class="header-list-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias optio
      vitae incidunt animi. Excepturi beatae laudantium natus nesciunt
      exercitationem dolorum. Incidunt autem, perspiciatis eligendi nam sed quia
      itaque quo velit?
    </li>
    <li class="header-list-item">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita cumque
      minima animi quis veniam reprehenderit magni autem! Voluptate mollitia
      corporis, error optio cupiditate numquam qui quo quaerat at porro ut!
    </li>
    <li class="header-list-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla natus error
      quisquam molestias, quibusdam voluptates labore tempora, enim, mollitia
      nam odio iure dolorum quis? Velit perferendis dolorum excepturi
      voluptatibus dicta.
    </li>
  </ul>
</header>
