<header class="header">
  <div class="container header-container">
    <div class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="./index.html" class="header-nav-list-text">Yoga Classes</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#team" class="header-nav-list-text">Team</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#testimonials" class="header-nav-list-text">Testimonials</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#pricing" class="header-nav-list-text">Pricing</a>
        </li>
        <li class="header-nav-list-item">
          <a href="#footer" class="header-nav-list-text">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="header-menu">
      <svg width="24" height="24" class="header-menu-conent">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </div>
    <div class="header-logo">
      <svg width="84" height="36" class="header-logo-content">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </div>
    <div class="header-button">
      <a href="#pricing" class="header-button-content">Join</a>
    </div>
    <div class="header-button-tablet">
      <a href="#pricing" class="header-button-content">Join Now</a>
    </div>
  </div>
</header>
