<!-- Бекдроп + Модальное окно -->
<div class="model-overlay is-open">
  <div class="model">
    <!-- Кнопка закрытия -->
    <button type="button" class="modal-close" aria-label="Close modal">
      <svg class="modal-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <!-- Заголовок -->
    <h2 class="modal-text">Join Now!</h2>
    <p class="modal-title">One Session</p>
    <p class="modal-subtitle">$10</p>

    <form class="order-form">
      <!-- Name -->
      <div class="input-group-name">
        <div class="input-group div-class">
          <label class="input-label" for="user-name">Your Name</label>
          <div class="input-wrapper">
            <input
              id="user-name"
              class="input-field"
              type="text"
              name="user-name"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="input-group-content">
        <div class="input-group div-class">
          <label class="input-label" for="email">Email</label>
          <div class="input-wrapper">
            <input
              id="email"
              class="input-field"
              type="email"
              name="email"
              placeholder="Placeholder"
              pattern="([A-Za-z0-9_.-]+)@([A-Za-z0-9_.-]+)\.([A-Za-z]{2,8})"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Error Text</p>
          </div>
        </div>

        <!-- Phone -->
        <div class="input-group div-class">
          <label class="input-label" for="contact-tel">Phone number</label>
          <div class="input-wrapper">
            <input
              id="contact-tel"
              class="input-field"
              type="tel"
              name="contact-tel"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <button class="button-modal-mobile" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="model-overlay">
  <div class="model">
    <!-- Кнопка закрытия -->
    <button type="button" class="modal-close" aria-label="Close modal">
      <svg class="modal-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <!-- Заголовок -->
    <h2 class="modal-text">Join Now!</h2>
    <p class="modal-title">8 Sessions Package</p>
    <p class="modal-subtitle">$65</p>

    <form class="order-form">
      <!-- Name -->
      <div class="input-group-name">
        <div class="input-group div-class">
          <label class="input-label" for="user-name">Your Name</label>
          <div class="input-wrapper">
            <input
              id="user-name"
              class="input-field"
              type="text"
              name="user-name"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="input-group-content">
        <div class="input-group div-class">
          <label class="input-label" for="email">Email</label>
          <div class="input-wrapper">
            <input
              id="email"
              class="input-field"
              type="email"
              name="email"
              placeholder="Placeholder"
              pattern="([A-Za-z0-9_.-]+)@([A-Za-z0-9_.-]+)\.([A-Za-z]{2,8})"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Error Text</p>
          </div>
        </div>

        <!-- Phone -->
        <div class="input-group div-class">
          <label class="input-label" for="contact-tel">Phone number</label>
          <div class="input-wrapper">
            <input
              id="contact-tel"
              class="input-field"
              type="tel"
              name="contact-tel"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <button class="button-modal-mobile" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="model-overlay">
  <div class="model">
    <!-- Кнопка закрытия -->
    <button type="button" class="modal-close" aria-label="Close modal">
      <svg class="modal-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <!-- Заголовок -->
    <h2 class="modal-text">Join Now!</h2>
    <p class="modal-title">12 Sessions Package</p>
    <p class="modal-subtitle">$80</p>

    <form class="order-form">
      <!-- Name -->
      <div class="input-group-name">
        <div class="input-group div-class">
          <label class="input-label" for="user-name">Your Name</label>
          <div class="input-wrapper">
            <input
              id="user-name"
              class="input-field"
              type="text"
              name="user-name"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="input-group-content">
        <div class="input-group div-class">
          <label class="input-label" for="email">Email</label>
          <div class="input-wrapper">
            <input
              id="email"
              class="input-field"
              type="email"
              name="email"
              placeholder="Placeholder"
              pattern="([A-Za-z0-9_.-]+)@([A-Za-z0-9_.-]+)\.([A-Za-z]{2,8})"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Error Text</p>
          </div>
        </div>

        <!-- Phone -->
        <div class="input-group div-class">
          <label class="input-label" for="contact-tel">Phone number</label>
          <div class="input-wrapper">
            <input
              id="contact-tel"
              class="input-field"
              type="tel"
              name="contact-tel"
              placeholder="Placeholder"
              required
            />
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <button class="button-modal-mobile" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
