<section class="pricing">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h4>Affordable</h4>
        <h2>Pricing Plans</h2>
        <p>Choose the perfect plan for your yoga journey.</p>
      </div>
    </div>
    <div class="row">
      <div class="row-card">
        <div class="pricing-plan">
          <h3 class="pricing-plan-title">One Session</h3>
          <p class="pricing-plan-title-item">$10</p>
          <ul class="pricing-plan-list">
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              1 group session
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              10% discount for next 2 Sessions
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
          <button type="button" class="button-pricing" data-modal-open>
            Join
          </button>
        </div>
      </div>
      <div class="row-card">
        <div class="pricing-plan">
          <h3 class="pricing-plan-titte">8 Sessions Package</h3>
          <p class="pricing-plan-titte-item">$65</p>
          <ul class="pricing-plan-list">
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              6 Group Sessions
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              2 Individual Sessions
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              Priority customer support
            </li>
          </ul>
          <button type="button" class="button-pricing" data-modal-open>
            Join
          </button>
        </div>
      </div>
      <div class="row-card">
        <div class="pricing-plan">
          <h3 class="pricing-plan-titte">12 Sessions Package</h3>
          <p class="pricing-plan-titte-item">$80</p>
          <ul class="pricing-plan-list">
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              8 Group Sessions
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              4 Individual Sessions
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              Monthly yoga challenges
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              Exclusive member discounts
            </li>
            <li class="pricing-plan-list-item">
              <svg class="social-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
          <button type="button" class="button-pricing" data-modal-open>
            Join
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
