<section class="team" id="team">
  <div class="container team-box">
    <div class="team-heading">
      <h3 class="team-meet-pages">Meet</h3>
      <h2 class="team-title">Our Team</h2>
      <p class="team-text">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <div class="team-list-instruktor">
      <ul class="team-list">
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/liam-johnson-min.png    1x,
                /img/desktop-png/team/liam-johnson@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/liam-johnson-tb-min.png    1x,
                /img/tablet-png/team/liam-johnson-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/liam-johnson-mb-min.png    1x,
                /img/mobile-png/team/liam-johnson-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/liam-johnson-min.png"
              alt="photo-Liam Johnson"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Liam Johnson</h3>
              <p class="team-list-text">Yoga Instructor</p>
              <p class="team-list-text">
                Liam specializes in mindfulness and stress reduction techniques
                through guided meditation.
              </p>
            </div>
            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.linkedin.com/feed/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.instagram.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/emma-stone-min.png    1x,
                /img/desktop-png/team/emma-stone@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/emma-stone-tb-min.png    1x,
                /img/tablet-png/team/emma-stone-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/emma-stone-mb-min.png    1x,
                /img/mobile-png/team/emma-stone-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/emma-stone-min.png"
              alt="photo-Emma-Stone"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Emma Stone</h3>
              <p class="team-list-text">Meditation Coach</p>
              <p class="team-list-text">
                Emma has over 10 years of experience in Hatha and Vinyasa yoga.
              </p>
            </div>
            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.linkedin.com/feed/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/sophia-lee-min.png    1x,
                /img/desktop-png/team/sophia-lee@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/sophia-lee-tb-min.png    1x,
                /img/tablet-png/team/sophia-lee-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/sophia-lee-mb-min.png    1x,
                /img/mobile-png/team/sophia-lee-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/sophia-lee-min.png"
              alt="photo-Sophia Lee"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Sophia Lee</h3>
              <p class="team-list-text">Pilates Trainer</p>
              <p class="team-list-text">
                Sophia combines Pilates with yoga for a holistic fitness
                approach.
              </p>
            </div>

            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.instagram.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/noah-brown-min.png    1x,
                /img/desktop-png/team/noah-brown@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/noah-brown-tb-min.png    1x,
                /img/tablet-png/team/noah-brown-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/noah-brown-mb-min.png    1x,
                /img/mobile-png/team/noah-brown-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/noah-brown-min.png"
              alt="photo-Noah-Brown"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Noah Brown</h3>
              <p class="team-list-text">Yoga Therapist</p>
              <p class="team-list-text">
                Noah focuses on therapeutic yoga to aid recovery and enhance
                well-being.
              </p>
            </div>
            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.linkedin.com/feed/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/ava-green-min.png    1x,
                /img/desktop-png/team/ava-green@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/ava-green-tb-min.png    1x,
                /img/tablet-png/team/ava-green-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/ava-green-mb-min.png    1x,
                /img/mobile-png/team/ava-green-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/ava-green-min.png"
              alt="photo-Ava Green"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Ava Green</h3>
              <p class="team-list-text">Fitness Trainer</p>
              <p class="team-list-text">
                Ava integrates strength training with yoga to promote overall
                fitness.
              </p>
            </div>
            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.facebook.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.instagram.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-Instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.linkedin.com/feed/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list-item">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/desktop-png/team/clark-thomas-min.png    1x,
                /img/desktop-png/team/clark-thomas@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/tablet-png/team/clark-thomas-tb-min.png    1x,
                /img/tablet-png/team/clark-thomas-tb@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                /img/mobile-png/team/clark-thomas-mb-min.png    1x,
                /img/mobile-png/team/clark-thomas-mb@2x-min.png 2x
              "
            />
            <img
              class="team-photo"
              src="/img/desktop-png/team/clark-thomas-min.png"
              alt="photo-Clark Thomas"
            />
          </picture>
          <div class="team-workname">
            <div class="team-name">
              <h3 class="team-list-heading">Clark Thomas</h3>
              <p class="team-list-text">Fitness Trainer</p>
              <p class="team-list-text">
                Clark specializes in mindfulness and stress reduction techniques
                through guided meditation.
              </p>
            </div>
            <ul class="team-social-list">
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.facebook.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team-social-item">
                <a
                  class="team-social-link"
                  href="https://www.instagram.com/"
                  target="_blank"
                >
                  <svg class="team-social-icon" width="24" height="24">
                    <use href="/img/icons.svg#icon-Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
