<section class="team">
    <div class="team-box">
        <div class="team-heading" >
            <h3 class="meet-pages">Meet</h3>
                <h1 class="team-title">Our Team</h1>
                    <p class="team-text">
                        Dedicated professionals passionate about yoga and wellness.
                    </p>
          </div>
          <!-- ********************************************************** -->
          <div class="team-list-instruktor">
          <ul class="team-list">
            <li class="team-list-item">
              <img
                srcset="../"
                      src="./img/Liam Johnson-mobile.jpg"
                alt="foto-Liam Johnson"
                width="343"
                height="221"
              />
              <div class="workname">
              <div class="name">  
                <h3 class="team-list-heading">Liam Johnson</h3>
                <p class="team-list-text">Yoga Instructor</p>
              </div>
                <p class="team-list-text">Liam specializes in mindfulness and stress reduction 
                  techniques through guided meditation.
                </p>
                <ul class="team-social-list">
                  <li class="team-social-item">
                    <a class="team-social-link" href="#" target="_blank">
                      <svg class="team-social-icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="team-social-item">
                    <a class="team-social-link" href="#" target="_blank">
                      <svg class="team-social-icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="team-social-item">
                    <a class="team-social-link" href="#" target="_blank">
                      <svg class="team-social-icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="team-social-item">
                    <a class="team-social-link" href="#" target="_blank">
                      <svg class="team-social-icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            </div>
        
          <!-- ********************************************************** -->
          
          <ul>
            <li>
              <img src="" alt=""></img>
              <div>
                <h3>Liam Johnson</h3>
                  <p>Yoga Instructor</p>
                  <p></p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                </h3>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                </h3>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                </h3>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                </h3>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                  <p>
                    <ul>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                  </p>
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </section>