<section class="yoga">
    <div class="container">
        <p class="intro-yoga">Explore</p>
        <h2 class="title-yoga">Discover Our Most Popular Yoga Programs
        </h2>
        <p class="text-intro-yoga">Join our community and elevate your practice with our expertly designed yoga
            programs. Each course is tailored to meet
            various skill levels and personal goals.</p>
        <ul class="yoga-list">
            <li class="yoga-item">
                <picture>
                    <source media="(min-width: 1336px )" srcset="">
                    <source media="(min-width: 768px)" srcset="">
                    <source media="(min-width: 375)" srcset="">
                    <img src="../img/desktop-png/yoga/beginner-yoga-min.png" alt="Beginner Yoga">
                </picture>

                <h3 class="yoga-item-name">Beginner Yoga: Foundations</h3>

                <p class="yoga-item-text">Learn the basics of yoga in a supportive environment.</p>
            </li>

            <li class="yoga-item">

                <picture>
                    <source media="(min-width: 1336px )" srcset="">
                    <source media="(min-width: 768px)" srcset="">
                    <source media="(min-width: 375)" srcset="">
                    <img src="../img/desktop-png/yoga/vinyasa-flow-min.png" alt="Beginner Yoga">
                </picture>

                <h3 class="yoga-item-name">Vinyasa Flow: Energize Your Body and Mind</h3>

                <p class="yoga-item-text">Experience a dynamic sequence that connects breath and movement.</p>
            </li>

            <li class="yoga-item">
                <picture>
                    <source media="(min-width: 1336px )" srcset="">
                    <source media="(min-width: 768px)" srcset="">
                    <source media="(min-width: 375)" srcset="">
                    <img src="../img/desktop-png/yoga/restorative-yoga-min.png" alt="Beginner Yoga">
                </picture>
                <h3 class="yoga-item-name">Restorative Yoga: Deep Relaxation and Healing</h3>

                <p class="yoga-item-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
            </li>
        </ul>
    </div>
</section>