<section class="yoga">
    <div class="container">

        <p class="intro-yoga">Explore</p>

        <h2 class="title-yoga">Discover Our Most Popular Yoga Programs
        </h2>
        <p class="text-intro-yoga">Join our community and elevate your practice with our expertly designed yoga
            programs. Each course is tailored to meet
            various skill levels and personal goals.
        </p>

        <ul class="yoga-list">
            <li class="yoga-item">

                <picture>
                    <source media="(min-width: 1336px)"
                        srcset="/img/desktop-png/yoga/beginner-yoga-min.png 1x, /img/desktop-png/yoga/beginner-yoga@2x-min.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/tablet-png/yoga/beginner-yoga-tb-min.png 1x, /img/tablet-png/yoga/beginner-yoga-tb@2x-min.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/mobile-png/yoga/beginner-yoga-mb-min.png 1x, /img/mobile-png/yoga/beginner-yoga-mb@2x-min.png 2x">
                    <img class="yoga-item-foto" src="/img/desktop-png/yoga/beginner-yoga-min.png" alt="Beginner Yoga">
                </picture>

                <div class="yoga-info-box">
                    <h3 class="yoga-item-name">Beginner Yoga: Foundations</h3>
                    <p class="yoga-item-text">Learn the basics of yoga in a supportive environment.</p>
                </div>
            </li>

            <li class="yoga-item">

                <picture>
                    <source media="(min-width: 1336px)"
                        srcset="../img/desktop-png/yoga/vinyasa-flow-min.png 1x, /img/desktop-png/yoga/vinyasa-flow@2x-min.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/tablet-png/yoga/vinyasa-flow-tb-min.png 1x, /img/tablet-png/yoga/vinyasa-flow-tb@2x-min.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/mobile-png/yoga/vinyasa-flow-mb-min.png 1x, /img/mobile-png/yoga/vinyasa-flow-mb@2x-min.png 2x">
                    <img class="yoga-item-foto" src="/img/desktop-png/yoga/vinyasa-flow-min.png" alt="Vinyasa Flow">
                </picture>

                <div class="yoga-info-box">
                    <h3 class="yoga-item-name">Vinyasa Flow: Energize Your Body and Mind</h3>
                    <p class="yoga-item-text">Experience a dynamic sequence that connects breath and movement.</p>
                </div>
            </li>

            <li class="yoga-item">
                <picture>
                    <source media="(min-width: 1336px)"
                        srcset="/img/desktop-png/yoga/restorative-yoga-min.png 1x, /img/desktop-png/yoga/restorative-yoga@2x-min.png 2x">
                    <source media="(min-width: 768px)"
                        srcset="/img/tablet-png/yoga/restorative-yoga-tb-min.png 1x, /img/tablet-png/yoga/restorative-yoga-tb@2x-min.png 2x">
                    <source media="(min-width: 375px)"
                        srcset="/img/mobile-png/yoga/restorative-yoga-mb-min.png 1x, /img/mobile-png/yoga/restorative-yoga-mb@2x-min.png 2x">
                    <img class="yoga-item-foto" src="/img/desktop-png/yoga/restorative-yoga-min.png"
                        alt="Restorative Yoga">
                </picture>

                <div class="yoga-info-box">
                    <h3 class="yoga-item-name">Restorative Yoga: Deep Relaxation and Healing</h3>
                    <p class="yoga-item-text">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                </div>
            </li>
        </ul>

        <a class="yoga-btn" href="#pricing">Join</a>

    </div>
</section>