.footer {
  width: 100%;
  background-color: #dfebeb;
  padding: 48px 16px;
}

.footer-container {
  max-width: 343px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f8fbfe;
  border-radius: 16px;
  padding: 32px;
}

.logo-container {
  margin-bottom: 20px;
}

.newsletter-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.subscribe-container {
  margin-bottom: 48px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  max-width: 279px;
  max-height: 42px;
  background: rgba(13, 11, 10, 0.05);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(13, 11, 10, 0.06);
}

.subscribe-button {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  max-width: 279px;
  max-height: 46px;
  background: rgba(13, 11, 10, 0.05);
}

.input-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.footer-links-section {
}

.footer-title {
  margin-bottom: 12px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px 0px;
  height: 38px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 32px;
  }

  .footer-container {
    max-width: 704px;
  }

  .logo-container {
    margin-bottom: 24px;
  }

  .newsletter-description {
    margin-bottom: 24px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .subscribe-input {
    width: 100%;
  }
}
