.gallery {
  background: #f2fafa;
  padding-top: 64px;
  padding-bottom: 64px;
}

.gallery-cont {
  padding: 0 20px;
}

.gallery-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.gallery-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
}

.gallery-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  padding-bottom: 48px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - 24px) / 2);
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .gallery-block {
    gap: 24px;
  }

  .gallery-text {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1336px) {
  .gallery {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .gallery-title {
    font-size: 52px;
  }

  .gallery-text {
    font-weight: 500;
    width: 768px;
  }

  .gallery-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
