.header {}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: none;
}
.header-menu {
    width: 74px;
    background-color: transparent;
}

.header-menu-conent {}

.header-logo {
    margin: 14px 0;
}

.header-logo-content {}



.header-button-content {
    border: 1px solid #C2D9FC;
        border-radius: 100px;
        padding: 4px 20px;
        width: 74px;
        height: 34px;
        background-color: #C2D9FC;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #0D0B0A;
}
.header-button-tablet{
    display: none;
}
@media screen and (min-width: 768px) {
    .header-button{
        display: none;
    }
    .header-button-tablet {
        display: block;
    }
        .header-button-content{
            border: 1px solid #C2D9FC;
            padding: 8px 20px;
            width: 105px;
            height: 42px;
        }
        .header-logo {
            margin: 18px 0;
        }
                .header-menu {
                    width: 105px;
                }
}
@media screen and (min-width: 1336px) {
    .header-nav {
        display: block;

    }
    .header-logo-content {
        margin-right: 345px;
    }
    .header-nav-list {
        display: flex;
        gap: 32px;
    }
    .header-menu{
        display: none;
    }
    .header-nav-list-item {
        height: 26px;
    }

    .header-nav-list-text {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #0D0B0A;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-list-text::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background-color: rgba(13, 11, 10, 0.5);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .header-nav-list-text:hover::after,
        .header-nav-list-text:focus::after,
        .header-nav-list-text.current::after {
            opacity: 1;
        }
    
        .header-nav-list-text:hover,
        .header-nav-list-text:focus,
        .header-nav-list-text.current {
            color: #0D0B0A;
        }
        .header-button-content {
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .header-button-content:hover,
        .header-button-content:focus {
            border: 1px solid rgba(255, 255, 255, 0);
            background-color: rgba(13, 11, 10, 0.05);
        }
    }

    /* header modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F2FAFA;



    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transform: translateY(-100%);
    transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}
.header-modal-wrapper{
    
}
.header-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-modal-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-button-close{
    background-color: transparent;
    width: 48px;
    height: 48px;
    margin: 8px 0;
}
.header-button-close-svg {}

.header-logo-nav {
    
}

.header-button {}

.header-button-content {}

.header-button-tablet {}

.header-modal-nav {
    margin-top: 28px;
    height: 100%;
    margin-bottom: auto;
}

.header-nav-list-menu {
    display: flex;
    gap: 24px;
    flex-direction: column;
    
}

.header-nav-list-item {}

.header-modal-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
.header-modal-button-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.header-modal-button {
    margin-top: auto;
    background-color: #C2D9FC;
    border: 1px solid #C2D9FC;
    border-radius: 100px;
    padding: 10px 24px;
    width: 343px;
    height: 46px;
}
@media screen and (min-width: 768px){
    .header-modal-button-menu{
        flex-direction: row;
    }
    .header-modal-button{
        width: 204px;  
    }
        
}
    
