.header {}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: none;
}
.header-menu {
    width: 74px;
}

.header-menu-conent {}

.header-logo {
    margin: 14px 0;
}

.header-logo-content {}

.header-button {}

.header-button-content {
    border: 1px solid #C2D9FC;
        border-radius: 100px;
        padding: 4px 20px;
        width: 74px;
        height: 34px;
        background-color: #C2D9FC;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #0D0B0A;
}
.header-button-tablet{
   display: none;
}
@media screen and (min-width: 768px) {
    .header-button{
        display: none;
    }
    .header-button-tablet {
        display: block;
    }
        .header-button-content{
            border: 1px solid var(--color-hawkes-blue);
            padding: 8px 20px;
            width: 105px;
            height: 42px;
        }
        .header-logo {
            margin: 18px 0;
        }
                .header-menu {
                    width: 105px;
                }
}
@media screen and (min-width: 1336px) {
    .header-nav {
        display: block;

    }
    .header-logo-content {
        margin-right: 345px;
    }
    .header-nav-list {
        display: flex;
        gap: 32px;
    }
    .header-menu{
        display: none;
    }
    .header-nav-list-item {
        height: 26px;
    }

    .header-nav-list-text {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #0D0B0A;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-list-text::after{
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background-color: rgba(13, 11, 10, 0.5);
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .header-nav-list-text:hover::after,
        .header-nav-list-text:focus::after,
        .header-nav-list-text.current::after {
            opacity: 1;
        }
    
        .header-nav-list-text:hover,
        .header-nav-list-text:focus,
        .header-nav-list-text.current {
            color: #0D0B0A;
        }
            
    }
