/* Модальное окно */
.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
    justify-content: center;
    align-items: center;
        transition:
            opacity 250ms ease,
            visibility 250ms ease;
}
.model-overlay.is-open {
    opacity: 1;
    visibility: visible;
}
.model-overlay.is-open .model{
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}


/* Modal window */
.model {
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: #DFEBEB;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 64px 16px 112px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transform: translate(-50%, -60%) scale(0.95);
        /* начальная позиция выше центра */
        opacity: 0;
        transition:
            transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Modal text */
.modal-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.modal-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 8px;
}

.modal-subtitle {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}


/* Labels */
.input-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

/* Input wrapper */
.input-wrapper {
    position: relative;
    margin-bottom: 24px;
    margin-top: 8px;
}

.input-field {
    color: #0D0B0A;
}

.input-wrapper input,
.input-wrapper textarea {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    background-color: rgba(13, 11, 10, 0.05);
    outline: transparent;
    padding: 8px 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(13, 11, 10, 1);
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
    color: rgba(13, 11, 10, 0.6);
}


.input-wrapper input:focus+.input-icon {
    fill: #000000;
}

/* Close button */
.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #DFEBEB;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    width: 32px;
    height: 32px;
    fill: #999;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Button */
.button-modal-mobile {
    display: inline-block;
    border-radius: 100px;
    padding: 10px 24px;
    width: 343px;
    height: 46px;
    background-color: #c2d9fc;
    text-align: center;
    text-decoration: none;
    color: #222;
    font: inherit;
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-primary-text, #2e2f42);
    margin-bottom: 16px;
}

.modal-field,
.comment-field {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 16px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    margin-bottom: 4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.input-icon {
    fill: #3e3e3e;
}

.modal-textarea {
    width: 100%;
    min-height: 80px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

/* стилізація плейсхолдера */
.input-field::placeholder {
    color: black;
}

/* стилізація інпута при не валідному значенні */
.input-field:not(:placeholder-shown):invalid {
    border-color: red;
    color: #0d0b0a;
}

/* стилізація інпута при валідному значенні */
.input-field:not(:placeholder-shown):valid {
    color: #0d0b0a;
}

.text-valid,
.text-invalid {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 4px;
    display: none;
}

.text-valid {
    color: green;
}

.text-invalid {
    color: red;
}

/* стилізація інформаційного текста при валідному значенні в інпуті */
.input-field:not(:placeholder-shown):valid~.text-valid {
    display: block;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.input-field:not(:placeholder-shown):invalid~.text-invalid {
    display: block;
}


@media screen and (min-width: 768px) {
.model {
    border-radius: 16px;
    padding: 64px 92px;
    width: 704px;
    height: 573px;
}

.input-group-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.input-group-name {
    display: flex;
    flex-direction: column;
}

.button-modal-mobile {
    display: block;
    margin: 0 auto;
    width: 155px;
}

.input-group {
    width: 100%;
}
}

@media screen and (min-width: 1336px) {
.model {
    border-radius: 16px;
    padding: 64px;
    width: 768px;
    height: 573px;
}
.button-modal-mobile:hover,
.button-modal-mobile:focus {
    background-color: #DADADA;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}