@media screen and (max-width: 374px) {
    .pricing {
        flex-direction: column;
        align-items: center;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-center {
        text-align: center;
    }
    .row-card {
        width: 100%;
        margin-bottom: 16px;
    }
    .pricing-plan {
        width: 100%;
        padding: 16px;
    }
    .button-pricing {
        width: 100%;
        padding: 12px;
    }
}
@media screen and (min-width: 375px) {
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #f8f9fa;
}
.row {}

.text-center {}

.row-card {}

.pricing-plan {}

.button-pricing {}

}