
.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}
h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-2-text);
    margin-top: 12px;
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-center {
    text-align: center;
    padding-bottom: 48px;
}
.row-card {
    border: 0px solid var(--color-scheme-2-border);
    border-radius: 16px;
    padding: 32px 24px;
    margin-bottom: 32px;
    width: 100%;
    max-width: 400px;
    background-color: #DFEBEB;
}

.pricing-plan-titte {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-2-text);
}
.pricing-plan-titte-item{
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--color-scheme-2-text);
    margin-bottom: 24px;
}
.pricing-plan-list li {
    display: flex;
    align-items: center;
    gap: 16px;
}
.pricing-plan-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-2-text);
    margin-bottom: 32px;
}
.pricing-plan-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-2-text);
    margin-bottom: 16px;
}

.button-pricing {
    display: inline-block;
    border: 1px solid var(--color-hawkes-blue);
    border-radius: 100px;
    padding: 10px 24px;
    width: 295px;
    height: 46px;
    background-color: #C2D9FC;
    text-align: center;
    text-decoration: none;
    color: #222;
    font: inherit;
    cursor: pointer;
}

