/* Styles for Mobile devices */
.team{
  padding: 64px 0;
}

.team-box {
  
}

.team-meet-pages {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
}
.team-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.team-photo {
  display: block;
  max-width: 100%;
  height: auto;

  margin: 0 auto 20px;
}
.team-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 48px;
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.team-name:not(:first-child) {
  gap: 12px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 12px;
  max-width: 343px;
}

.team-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
  margin-top: 20px;
}

.team-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .team{
    padding: 40px 0;
  }

  .team-title {
    margin-bottom: 8px;
    font-size: 52px;
  }
  .team-heading {
    margin-bottom: 40px;

    gap: 16px;
  }
  .team-list {
    gap: 24px;
  }
  .team-list:nth-child(2n + 1) {
    margin-left: 0;
  }

  .team-list:nth-child(2n) {
    margin-right: 0;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-photo {
    margin-bottom: 24px;
  }
  .team-list-text {
    margin-bottom: 16px;
  }
  .team-social-list {
    margin-top: 24px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1336px) {
  .team-list-item {
    flex-basis: calc((100% - 64px) / 3);
  }
  .team{
    padding: 112px 0;
  }
  .team-list {
    justify-content: space-between;
  }
}
