.testimonials {
  padding-top: 40px;
  background: #f2fafa;
}

.testimonials-heading {
  font-family: "Cabin", sans-serif;;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;
}

.testimonials-paragraph {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 24px;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.testimonials-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  padding: 12px;
  width: 100%;
  max-width: 343px;
  background-color: #DFEBEB;
}

.testimonials-item-text {
  max-width: 319px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: auto;
}

.testimonials-image {
  margin: 32px auto 16px;
  width: 56px;
  height: 56px;
}

.testimonials-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
}

.testimonials-item-status {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0d0b0a;
}

@media screen and (min-width: 768px) {
  .testimonials-heading {
    margin-bottom: 24px;
    font-size: 40px;
  }

  .testimonials-item {
    margin: 0 auto;
    width: 100%;
    max-width: 704px;
  }

  .testimonials-item-text {
    max-width: 680px;
  }

}

@media screen and (min-width: 1336px) {
  .testimonials-heading {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .testimonials-item {
    width: calc(50% - 12px);
    max-width: 644px;
  }

  .testimonials-item-text {
    max-width: 620px;
  }

  .testimonials-item-status {
    line-height: 1.6;
  }
}
