.testimonials {
}

.testimonials-heading {
}

.testimonials-paragraph {
}

.testimonials-list {
}

.testimonials-item {
}

.testimonials-item-text {
}

.testimonials-image {
}

.testimonials-item-name {
}

.testimonials-item-status {
}
