.testimonials {
}

.container {
  width: 100%;
  max-width: 374px;
  margin: 0 auto;
}

.testimonials-heading {
}

.testimonials-paragraph {
}

.testimonials-list {
}

.testimonials-item {
}

.testimonials-item-text {
}

.testimonials-image {
}

.testimonials-item-name {
}

.testimonials-item-status {
}
