.yoga {
    background-color: #dfebeb;
    text-align: center;
    padding: 64px 0;
}

.intro-yoga {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.yoga-introduce {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 343px;
}

.title-yoga {
    font-family: 'Cabin', sans-serif;
    color: #0D0B0A;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.text-intro-yoga {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.yoga-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin: 48px 0;
}

.yoga-item-foto {
    margin: 0 auto;
    margin-bottom: 24px;
}

.yoga-item-name {
    font-family: 'Cabin', sans-serif;
    color: #0D0B0A;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.yoga-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.yoga-btn-now {
    display: none;
}

.yoga-btn {
    display: block;
    box-sizing: border-box;
    background-color: #c2d9fc;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    height: 46px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #0D0B0A;
}

@media screen and (min-width: 768px) {
    .yoga {
        padding: 40px 0;
        background-color: #f2fafa;
    }

    .intro-yoga {
        margin-bottom: 16px;
    }

    .yoga-introduce {
        max-width: 100%;
    }

    .title-yoga {
        margin: 0 auto;
        margin-bottom: 24px;
        white-space: nowrap;
    }

    .text-intro-yoga {
        font-size: 18px;
    }

    .yoga-list {
        gap: 24px;
        margin: 40px 0;
    }

    .yoga-item-foto {
        margin-bottom: 16px;
    }

    .yoga-item-name {
        margin-bottom: 0;
    }

    .yoga-item {
        width: calc((100% - 24px) / 2);
    }

    .yoga-item:last-child {
        width: 100%;

    }

    .yoga-btn {
        display: none;
    }

    .yoga-btn-now {
        display: block;
        white-space: nowrap;
        margin: 0 auto;
        
        background-color: #c2d9fc;
        
        border-radius: 100px;
        padding: 10px 24px;
        width: 110px;
        height: 46px;

        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        color: #0D0B0A;
    }
}

@media screen and (min-width: 1336px) {
    .yoga {
        padding: 112px 0;
    }

    .yoga-introduce {
        max-width: 768px;
        margin: 0 auto;
    }

    .title-yoga {
        white-space: wrap;
        font-size: 52px;
    }

    .yoga-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .yoga-item-foto {
        margin-bottom: 32px;
    }

    .yoga-item-name {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .yoga-btn-now {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .yoga-btn-now:hover,
    .yoga-btn-now:focus {
        border: rgba(255, 255, 255, 0);
        background-color: rgba(13, 11, 10, 0.05);
    }
}